@import "~normalize.css";

body {
  background: #fff;
  font-family: Noto Sans, Bai Jamjuree, sans-serif;
  color: #212121;
  font-size: 14px;
  line-height: 1.5;
}

/**
 * @todo #1 Add default link style
 *  - Maybe make it a different color and remove the underline.
 *  - Make sure it is keyboard accessible.
 */
