.nav {
  display: block;
  border: solid #4a4a4a;
  border-width: 1px 0;
  padding: 0.75rem 0;
  text-align: center;
}

.link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 0 1rem;
}

.activeLink {
}

.activeLink::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -2px;
  height: 2px;
  left: 0;
  background: #ef314a;
}
